img {
  width: 150px;
  height: 70px;
}

section {
  display: inline-block;
}

.div1 {
  margin-bottom: 60px;
}

.div2 {
  margin-bottom: 60px;
}

.div3 {
  margin-bottom: 60px;
}

.korzina {
  display: flex;
  font-size: 24px;
}

.korzina p {
  margin-right: 5px;
}
